@media only screen and (max-width: 1300px) {

    .inputFieldLogin{
        min-width: 90%;
        
    }
    #login_btn{
        min-width: 90%;
        
        
    }
    .form_wraper {
        min-width: 200px;
        width: 90%;
    }
    .formulario{
        width: 100%;
        margin:auto;
        padding: 0;
    }
    .formulario input, select,option {
        display: block;
        width:70%;
        margin: 5px auto;
        margin-top: 10px;
        
    }
    #agregar_usuario{
        margin:none;
        margin: auto;
        margin-top: 10px;
    }

}


@media only screen and (max-width: 970px) {

    .header_block{
        display: block;
        text-align: center;
        padding-left: 0;
        margin: auto;
    }
    .header_block h3:first-child{
        
        border-top: 1px solid white;
        
    }
    .header_block h3{
        width: 100%;
        text-align: center;
        margin: 0;
        padding: 5px;
        padding: 15px;
        
    }
    .header_block a{
        border:none;
    }
    .header_block h3,li{
        border-top: 1px solid rgb(131, 130, 130);
        
    }
    .header_block ul li{
        padding: 15px;
        
    }
    #header_content_right{
        width: 100%;
        
    }
    
    .headerTitle {
        border: none;
        width: 100%;
        
    }
    #nav_bar_admin_wrapper li{
        text-align: center;
        display: block;
    }
    .fa.fa-trash {
        
        left: 0;
    }
    .img_container {
        margin-top: 15px;
        display: grid;
        grid-template-columns: 45% 45%;
        justify-content: center;
    }
    .image_wrapper img {
        width: 96%;
        margin: auto;
        min-height: 0px;
    }
    .displayTextContentForm {
        width: 100%;
    }
    .form_wraper {
        min-width: 0;
        width: 100%;
        padding: 10px;
    }
    
}
@media only screen and (max-width: 600px) {

    #tabla tbody tr td {
        padding: 0 5px;
        font-size: 12px;
    }
    #tabla thead tr th {
        padding: 10px 5px;
        font-size: 12px;
    }
    .displayTextContentForm {
        width: 100%;
        padding: 10px 5px;
    }
    #admin_contact_form {
        width:100%;
        border-radius: 0px;
        padding: 50px 0;
    }
    .reference_list table{
        width: 100%;
    }
    
    
    



}